<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>NHL Stat Trends</title>

    <link rel="stylesheet" th:href="@{/js/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>


    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/client.js}"></script>
</head>
<body>
<header class="container">
    <div class="text-center">
        <h1>NHL Trends</h1>
        </div>
    <div class="text-center">
        <h2>Regular Season vs. Playoffs</h2>
    </div>

</header>
<section class="jumbotron">
<div class="container">
    <div class="row text-center">
<form>
    <input type="text" id="searchForApi" placeholder="Enter Season"/>
    <input type="text" id="numForApi" placeholder="Enter Team"/>

    <button id="searchbtn">Search</button>
</form>
    </div>
</div>
</section>
<br/>

<div class="container">
    <div class="NHL Stat Trends">
        <div class="text-center">
            <h3>President's Cup Winner</h3>
            <h5>vs.</h5>
            <h3> Stanley Cup Winner</h3>

            <div class="text-center">
        <button id="btn1">Season</button>
        <button id="btn2">President's Cup Winner</button>
        <button id="btn3">Stanley Cup Winner</button>
    </div>
        </div>
    </div>
</div>
</body>

</html>